body {
	position: relative;
	width: 1500px;
	height: 700px;
	font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

my-app {
	border: 5px solid black;
	width: 1500px;
	height: 700px;
	position: absolute;
} 

my-app my-chat {
	position: relative;

}

my-app my-dock my-window {
	position: relative;
}

/*my-window {
	position: relative;
}

memory-game, my-chat, my-anime {
	position: absolute;
}*/

